/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set default font and background */
body {
    font-family: 'Inknut Antiqua', serif;
    background-size: cover;
    background-position: center;
    color: white;
    overflow-x: hidden; /* Prevent horizontal scroll on small screens */
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    justify-content: center;
}

/* Logo and Name */
.logo-anim {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.logo-anim img {
    max-width: 80px;
    height: auto;
    margin-right: 20px;
}

.logo-anim h1 {
    font-family: 'BioRhyme', serif;
    font-size: 2rem;
    margin: 0; /* Remove margin to center-align the title */
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.menu li {
    margin: 0 20px;
    opacity: 1; /* Remove animation for immediate visibility */
}

/* Sections */
.section {
    padding: 2rem 0;
    text-align: center;
    opacity: 1; /* Remove animation for immediate visibility */
}

/* Footer */
.footer {
    text-align: center;
    padding: 2rem;
    color: white;
    font-size: 0.8rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Adjust styles for mobile devices */
    .menu ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .menu li {
        margin: 10px 0;
        opacity: 1; /* Remove animation for immediate visibility */
    }
}
